name: juris-ai-helper

services:
  backend:
    build: ../backend
    container_name: backend
    ports:
      - "8000:8000"
    env_file:
      - .env

  frontend:
    build:
      context: ../frontend
      args:
        - API_URL=http://backend:8000
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://backend:8000

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    restart: unless-stopped

  open-webui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: open-webui
    ports:
      - "8001:8080"
    environment:
      - OLLAMA_BASE_URL=http://ollama:11434
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
volumes:
  ollama_data:
  open-webui: