apiVersion: v1
kind: ConfigMap
metadata:
  name: malomela-common-config
data:
  COST_PER_THOUSAND_EVENTS: {{ .Values.common.costPerThousandEvent | quote }}
  CREDITS_PER_EURO: {{ .Values.common.creditsPerEuro | quote }}
  COST_MAX_LIMIT: {{ .Values.common.costMaxLimit | quote }}
  DEBUG_PRICE: {{ .Values.common.debugPrice | quote }}
  REDIS_URL: {{ .Values.redis.url | quote }}
  REDIS_HOST: {{ .Values.redis.host | quote }}
  REDIS_PORT: {{ .Values.redis.port | quote }}
  DB_NAME: {{ .Values.backend.db.name | quote }}
  DB_HOST: {{ .Values.backend.db.host | quote }}
  DB_PORT: {{ .Values.backend.db.port | quote }}
  EMAIL_BATCH_SIZE: {{ .Values.scraper.emailBatchSize | quote }}
  MAX_DEMO_PER_DAY: {{ .Values.scraper.maxDemosPerDay | quote }}
  KEEP_RUNNER_WORKING: {{ .Values.scraper.keepRunnerWorking | quote }}
  KEYCLOAK_ISSUER: {{ .Values.keycloak.issuer | quote }}
  KEYCLOAK_INTERNAL_URL: {{ .Values.keycloak.internaUrl | quote }}
  DEBUG: {{ .Values.common.debug | quote }}

  # Variables front
  NEXTAUTH_URL: {{ .Values.frontend.url | quote }}
  NEXTAUTH_SECRET: {{ randAlphaNum 32 | b64enc | quote }}
  KEYCLOAK_CLIENT_ID: "malomela-front"
  BACKEND_URL: {{ .Values.backend.url | quote }}
  NEXT_PUBLIC_BACKEND_URL: {{ .Values.backend.url | quote }}
  NEXT_PUBLIC_COST_PER_THOUSAND_EVENTS: {{ .Values.common.costPerThousandEvent | quote }}
  NEXT_PUBLIC_CREDITS_PER_EURO: {{ .Values.common.creditsPerEuro | quote }}
